---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPrompts = await Astro.glob('../prompts/*.md');
const tags = [...new Set(allPrompts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags flex flex-1 gap-8">
    {tags.map((tag) => (
      <a class="block bg-black text-white p-2" href={`/tags/${tag}`}>{tag}</a>
    ))}

  </div>
</BaseLayout>
