---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPrompts = await Astro.glob('../prompts/*.md');
const tags = [...new Set(allPrompts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-2 md:grid-cols-6 gap-8 px-10">
    {tags.map((tag) => (
      <a class="block text-sm text-center bg-black text-white p-2 rounded-md" href={`/tags/${tag}`}>{tag}</a>
    ))}
  </div>
</BaseLayout>
