---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'RasterHero - The leading prompt search for AI-assisted designers and creative proffesionals.';
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="font-serif text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">
      Prompt archive for AI-assisted designers and creative professionals.
    </h1>
    <p class="pt-10 text-center mb-6">We make it easy to share share and collect your best prompt recipies for Midjourney and ChatGPT.</p>
    <p class="flex justify-center items-center"><a href="" class="block px-4 py-2 bg-black text-white rounded-md">Start browsing</a></p>
    <!-- <Greeting client:load messages={["Hi", "Hallo", "Hola", "Habari"]} /> -->
</BaseLayout>