---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="RasterHero - Create AI hero images based on your content">
  <main>
    <Logo />
    <Hero />
  </main>
</Layout>

