---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";

const identity = {
  firstName: "Tim",
  country: "Netherlands",
  occupation: "AI designer",
  hobbies: ["photography", "birdwatching", "baseball","test"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 4;

---

<BaseLayout pageTitle={pageTitle}>
  <h1>Submit</h1>
  <p>Coming soon ...</p>

</BaseLayout>
