---
const platform = "github";
const username = "withpromptly";
import Social from './Social.astro';
---

<footer class="flex items-center p-10 border-t border-neutral-300">
  <p class="mr-10">Learn more about this projects on: </p>
  <div class="flex gap-x-8">
    <Social platform="twitter" username="withpromptly" />
    <Social platform="github" username="withpromptly" />
    <Social platform="youtube" username="withpromptly" />
  </div>
</footer>

