---
import Navigation from './Navigation.astro';
---
<header class="flex items-center justify-between p-10">
  <h1 class="text-2xl font-mono"><a href="/">&blk12; RasterHero</a></h1>
  <nav class="relative text-slate-800 font-semibold leading-6">
   <Navigation />
 </nav>
</header>