<div class="mx-auto max-w-6xl px-4 sm:px-6">
  <div class="md:py-20 py-12">
    <div class="mx-auto text-center max-w-5xl md:pb-16 pb-10">
      <h1 class="font-bold font-heading mb-4 leading-tighter tracking-tighter md:text-[3.50rem] text-5xl">Using AI technology we create vectorized hero images based on your content.</h1>
      <div class="mx-auto max-w-3xl">
        <p class="dark:text-slate-200 text-gray-500 text-xl mb-8"><span class="font-semibold ">We call this human-driven AI. Within 24 hours you get the highest quality image possible for a fixed price.</p>
        <div class="flex flex-col flex-nowrap gap-4 m-auto max-w-xs sm:flex-row sm:justify-center sm:max-w-md">
          <div class="flex w-full sm:w-auto">
            <a class="w-full btn btn-primary sm:mb-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#" rel="noopener" target="_blank">
              Generate hero image
            </a>
          </div>
          <div class="flex w-full sm:w-auto">
          	<a class="w-full btn py-2 px-4" href="#features">Learn more</a></div>
        </div>
      </div>
    </div>
    <div>
      <div class="relative m-auto max-w-4xl">
        <picture>
        </picture>
      </div>
    </div>
  </div>
</div>