---
---
<nav class="pr-10">
    <ul class="flex items-center gap-x-8">
        <li><a href="/">Home</a></li>
        <li><a href="/prompts">Prompts</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/starred">&#9733; Starred</a></li>
        <li><a href="/submit">Submit</a></li>
    </ul>
</nav>